html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

/* Panels */
.panel {
  margin: 2em auto;
  max-width: 1170px;
}
.panel-body {
  padding: 1em;
}
.panel-body::after {
  /* Clear floats */
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 1170px) {
  .panel {
    margin: 0 0 1em 0;
  }
}

/* Player format */
.title {
  font-size: 2em;
}
.subtitle {
  font-size: 1.2em;
}
input[type="range"] {
  display: block;
  width: 100%;
  appearance: none;
  background: #6B7280;
  height: 0.5em;
}

/* Search and login */
input[type="search"], input[type="password"] {
  background: inherit;
  color: inherit;
  padding: 0.2em;
  width: 10em;
}

/* Queue format */
.queue-item, .queue-header {
  display: grid;
  grid-template-columns: 4em 1fr 1fr 6em 2em;
  border-top: 1px dotted #6B7280;
  vertical-align: top;
  line-height: 1.2em;
  text-decoration: none;
  color: inherit;
}
.queue-item:hover, .queue-item:focus {
  background: #6B72801a;
  color: inherit;
}
.queue-item > div, .queue-header > div {
  padding: 8px;
}
.queue-item > div:nth-child(1), .queue-header > div:nth-child(1),
.queue-item > div:nth-child(4), .queue-header > div:nth-child(4) {
  text-align: right;
}
.queue-item i {
  display: block;
  font-size: 90%;
}
.queue-header, .queue-item.active {
  font-weight: bold;
}

/* Link and buttons */
a, a:hover {
  text-decoration: none;
}
button.active {
  font-weight: bold;
}
a svg, button svg {
  vertical-align: middle;
  width: 1em;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
}
.btn-group a, .btn-group button {
  padding: 5px;
  display: inline-block;
}
@media print {
  .btn-group button, input, #playlist th:last-child, #playlist td:last-child {
     display: none !important;
  }
}

/* Dropdown */
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 0.5em;
  z-index: 1;
  right: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Notification */
.notification {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1170px;
  background-color: inherit;
  padding: 1em;
}

/* Utilities */
.pull-right {
  float: right;
}
.hide {
  display: none !important;
}

/* Colors */
body, .dropdown-content {
  background: #E5E7EB;
  color: #1F2937;
}
a, button {
  color: #111827;
}
@media (prefers-color-scheme: dark) {
  body, .dropdown-content {
    background: #1F2937;
    color: #E5E7EB;
  }
  a, button {
    color: #F3F4F6;
  }
}
.panel, input[type="search"], input[type="password"], .dropdown-content,
.notification {
  border: 1px dotted #6B7280;
}
a:hover, button:hover, button.active {
  color: #3B82F6;
}
