html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

/* Colors */
body {
  background: #d4d4d4;
  color: #1f2424;
}
a {
  color: #000;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #1f2424;
    color: #d4d4d4;
  }
  a {
    color: #fff;
  }
}

/* Panels */
.panel {
  margin: 2em auto;
  max-width: 1170px;
  border: 1px dotted #a1a1a1;
}
.panel-body {
  padding: 1em;
}

/* Player format */
.title {
  font-size: 2em;
}
.subtitle {
  font-size: 1.2em;
}
input[type="range"] {
  display: block;
  width: 100%;
  appearance: none;
  background: #777;
  height: 0.5em;
}

/* Search and login */
input[type="search"], input[type="password"] {
  background: inherit;
  color: inherit;
  border: 1px dotted #a1a1a1;
  padding: 0.2em;
  width: 10em;
}

/* Table format */
table {
  width: 100%;
  border-collapse: collapse;
}
td, th {
  text-align: left;
  padding: 8px;
  vertical-align: top;
  border-top: 1px dotted #a1a1a1;
  line-height: 1.2em;
}
tr:hover>td {
  background-color: rgba(255, 255, 255, 0.1);
}
table i {
  display: block;
  font-size: 90%;
}
tbody {
  cursor: pointer;
}
tr.active {
  font-weight: bold;
}
#playlist td:nth-last-child(2), th:nth-last-child(2) {
  text-align: right;
}
#playlist td:last-child, td:first-child {
  width: 1em;
}

/* Link */
a {
  text-decoration: none;
}
a:hover {
  color: #699ecc;
  text-decoration: none;
}
a.active {
  color: #699ecc;
  font-weight: bold;
}
a svg {
  vertical-align: middle;
  width: 1em;
}
.btn-group a {
  padding: 5px;
  display: inline-block;
}
@media print {
  .btn-group a, input, #playlist th:last-child, #playlist td:last-child {
     display: none !important;
  }
}

/* Notification */
.notification {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1170px;
  border: 1px dotted #a1a1a1;
  background-color: inherit;
  padding: 1em;
}

/* Utilities */
.pull-right {
  float: right;
}
.hide {
  display: none !important;
}